**
!pyproject.toml
!README.md
!LICENSE
!NOTICE
!THIRD_PARTY.md
!licenses/
!licenses/**
!src/
!src/**
!scripts/
!scripts/fetch_wechat_qr_models.py
!scripts/prepare_models.py
!scripts/verify_runtime.py
!scripts/healthcheck.py
!deploy/
!deploy/requirements.cpu.txt
!deploy/public-models.json
**/__pycache__
**/*.pyc
